body{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 850px;
    margin: 40px auto;
    line-height: 1.6;
    color:#222;
    background-color:#ffffff;
}

h1{
    border-bottom:3px solid #000;
    padding-bottom:10px;
    margin-bottom:20px;
}

h2{
    margin-top:35px;
    color:#333;
    border-left:5px solid #000;
    padding-left:10px;
}

p{
    margin:10px 0;
}

ul{
    margin-top:5px;
    padding-left:20px;
}

li{
    margin-bottom:6px;
}